.panda-backgruond{
    background-color: #fceae8;

}
.wacth-back{
    background-color: #ffa500;
}
.back-back{
    background-color: #da70d6;
}
.shoes-back{
    background-color: #0000ff;
}
.button-back{
    background-color: #ff4790;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    
    color: white;
}
.gategories img{
    width: 100px;
}